#copy all the values to .env.development file after creating it.
# API Base URL
NEXT_PUBLIC_API_URL=http://localhost:4000
# NEXT_PUBLIC_API_URL=https://worcoor.ancubate.com/api/
# NEXT_PUBLIC_API_URL=http://35.154.183.50:7000/api/
# NEXT_PUBLIC_API_URL=https://dev.evenuefy.com/api/